CONFIG PART = xc7a100t-csg324-1;


NET "s_out[0]" LOC = "T10" | IOSTANDARD = LVCMOS33;
NET "s_out[1]" LOC = "R10" | IOSTANDARD = LVCMOS33;
NET "s_out[2]" LOC = "K16" | IOSTANDARD = LVCMOS33;
NET "s_out[3]" LOC = "K13" | IOSTANDARD = LVCMOS33;
NET "s_out[4]" LOC = "P15" | IOSTANDARD = LVCMOS33;
NET "s_out[5]" LOC = "T11" | IOSTANDARD = LVCMOS33;
NET "s_out[6]" LOC = "L18" | IOSTANDARD = LVCMOS33;

NET "an[0]" LOC = "J17" | IOSTANDARD = LVCMOS33;
NET "an[1]" LOC = "J18" | IOSTANDARD = LVCMOS33;
NET "an[2]" LOC = "T9" | IOSTANDARD = LVCMOS33;
NET "an[3]" LOC = "J14" | IOSTANDARD = LVCMOS33;